In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1':['汽车之家论坛', '太平洋论坛', '爱卡论坛']})
df

     col1
0  汽车之家论坛
1   太平洋论坛
2    爱卡论坛

## 方式1

In [3]:
df['col1'].str.contains('汽车') | df['col1'].str.contains('爱卡')

0     True
1    False
2     True
Name: col1, dtype: bool

## 方式2

In [7]:
df['col1'].str.contains('汽车|爱卡')

0     True
1    False
2     True
Name: col1, dtype: bool

## 方式3

In [8]:
df['col1'].str.contains('汽车|爱卡',na=False)

0     True
1    False
2     True
Name: col1, dtype: bool

3种方式结果是一样的，但是有时候方式2会出现NaN，在取非`~`的时候就会出问题，所以不建议使用方式2。
方式1和方式3相比较而言，方式3更优雅，更为推荐，但需要注意的是使用方式3时**需指定参数na的值为False**。